.emphasize-blue-4 {
	text-decoration-thickness: 4px;
	text-decoration-color: #4377F9;
}

.emphasize-blue-3 {
	text-decoration-thickness: 3px;
	text-decoration-color: #4377F9;
}

.emphasize-yellow-h2 {
	text-decoration-thickness: 3px;
	text-decoration-color: #EEFF04;
}

.bold-yellow-2 {
	text-decoration-thickness: 2px;
	text-decoration-color: #EEFF04;
}
